/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Home Page
:: Page Name 2
*/

/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body {
	background: #023059 url('../images/foundation/background.png');
	padding: 25px 0 25px 0;
	color: #eeeeee;
	font-family: "Open Sans" !important;
	text-shadow: 1px 1px 0px #000;
}

header#main {
	background: #012840 url('../images/foundation/header_bg.png');
	padding: 15px 0 0 0;
	margin: -25px 0 15px 0;
	box-shadow: -1px 1px 5px #000;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Arvo" !important; 
	color: #eeeeee;
	font-weight: 100;
}
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
	font-family: "Arvo" !important;
	color: #fff;
}

p {font-family: "Open Sans", Arial, sans-serif;}

a {color: #eeeeee;}
a:hover {color: #f8810d;}

a img {border: none;} /* Stupid IE! */

.br {display: block;}

.highlight {
	background: #f8810d;
	text-shadow: 2px 1px 2px #96510e;
	margin: 5px 0 0 0;
	padding: 5px 5px 5px 10px;
	box-shadow: -1px 1px 5px #000;
	display: inline-block;
	border-radius: 2px 10px 2px 10px;
}

img#logo {margin-top: -5px;}

nav#elements{ 
	font-family: 'Open Sans', Arial, sans-serif !important; 
	font-weight: 100;
	text-transform: uppercase;
	margin-top: 8px;
	margin-bottom: 20px;
}
	nav#elements a {
		font-weight: 700;
		font-size: 1.7em;
		margin: 0 20px 0 0;
	}
	@media only screen and (max-width: 1024px) {nav#elements a {font-size: 1.45em;}}
	@media only screen and (max-width: 320px) {nav#elements a {font-size: 1.2em;}}	
	
		nav#elements a#earth {color: #ad3e13;}
		nav#elements a#water {color: #64a8c2;}
		nav#elements a#fire {color: #f1901f;}
		nav#elements a#air {color: #a2a5a9;}		

	nav#main {
		font-size: .8em;
		font-weight: 400;
		text-transform: uppercase !important;
		margin: 15px 0 0 0;
		
	}
		nav#main a {
			margin: 0 10px 0 10px;
		}		
		
footer {
	font-size:12px;
	background: #0c1619;
	padding: 15px;
	box-shadow: -1px 1px 5px #000;
	border-radius: 0px 0px 5px 5px;
	background: #012840 url('../images/foundation/header_bg.png');
}


/* -----------------------------------------
   Home Page
----------------------------------------- */
h1.welcome {
	font-weight: 100;
}	

h4.intro {margin: 15px 0 35px 0; font-family: "Open Sans", Arial, sans-serif !important; font-weight: 400;}
	h4.intro strong {font-weight: 700; font-family: "Open Sans", Arial, sans-serif !important;}



/* -----------------------------------------
   Elements Pages & Sidebar
----------------------------------------- */
h2 strong {font-family: "Arvo";}

p.intro-paragraph {
	font-size: 2em;
	font-family: "Georgia";
	font-style: italic;

}

#sidebar h6, #sidebar h6 strong {font-family: "Open Sans" !important;}

#sidebar a.get-your-invite {
	display: block;	
	font-size: 1.5em;
	padding: 7px 5px 5px 10px;
	color: #fff;
	text-shadow: 1px 1px 0px #b55a02;
	background: #f8810d url('../images/foundation/action.png') repeat-x;
	box-shadow: 1px 1px 1px #333;
	border-radius: 5px;
	text-align: center;
	box-shadow: 0px 5px 0px #ba6008;
}
	#sidebar a.get-your-invite:hover {
		background: #f8810d;
	}
	#sidebar a.get-your-invite:active {
		box-shadow: 0px 2px 0px #ba6008;
		position: relative;
		top: 3px;
	}

input.shorturl {
	display: inline;
	width: 125px;
	height: 20px;
	position: relative;
	top: 12px;
}

.orbit-wrapper {margin-left: -10px;}